################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpCDTask/CSharpCDTask/bin/Debug/netcoreapp3.1
/CSharpCDTask/CSharpCDTask/obj
/CSharpCDTask/.vs/CSharpCDTask/v16
